*{
    margin:0;
    padding:0;
    /* overflow: hidden; */
}
/* .body{
    overflow: hidden;
} */
.main{
    background-color: rgb(83, 81, 81);
    /* overflow: auto; */
}

.main .box{
    height:80vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url("./assets/bg.jpg") ;
    background-size: cover;
    /* opacity: 0.; */
    
}

.main .box{
    height:100vh;
    width:100%;
    background-color: black;
    opacity:.94;
    /* opacity: 2.8; */

}

.nav{
    width:100%;
    height:4.5em;
    border:2px solid yellow;
    /* background-color: yellow; */
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.nav .img img{
    height:4em;
    /* opacity: 0.2; */
    font-weight: 900;
}
/* .nav .options{
    background-color: red;
    width: 200px;
    height: 70px;
    /* font-size: xx-large; */
    /* border-radius: 8px ;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;

    
} */ */
.content{
    border: 2px solid yellow;
    height: 500px;
}
.para{
    /* border: 2px solid yellow; */
    height: 100px;
    margin-top: 200px;
    color: white;
    font-size: 30px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding-left: 40%;
}
.para p{
    margin-top: 20px;
}
.nav button{
    font-size: x-large;
    border: 2px solid black;
    background-color: red;
    border-radius: 9px;
    width: 100px;
}
/* .email{
    height: 200px;
    width: 300px;
} */
input[type=Email]{
    width: 30%;
    height: 100%;
    /* box-sizing: border-box; */
    padding: 24px 16px 8px;
    font-size: 20px;
    position: relative;
    left: 500px;
    top: 110px;
    background-color: rgb(69, 66, 66);
}
.btn1{
    width: 155px;
    /* height: 70%; */
    padding: 20px;
    font-size: large;
    position: relative;
    left: 500px;
    top: 100px;
    background-color: red;
    color: white;
}
.option{
    border: 2px solid red;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 110px;
}
.search{
    background-color: transparent;
    opacity: 0.9;
    font-size: large;
    font-weight: 700;
    color: white;
}
.tele{
    height: 1000px;
    width: 100%;
    border: 2px solid red;
    background-color: black;
    color: white;
    margin-top: 1rem;
    /* display: flex;
    justify-content: space-around; */
    
}
.bx1{
    display: flex;
    justify-content: space-around;
}
.bx2{
    flex-wrap: wrap;
    border: 2px solid red;
}
.p1{
    /* margin: auto; */
    /* position: relative;
    left: 35rem; */
    font-size: 2rem;
    /* font-weight: ; */
    font-weight: bolder;
    position: relative;
    top: 300px;
    right: -50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    /* border: 2px solid red; */
    gap: 35px;
    
}
.tv1{
   position: relative;
   top: -100px;
   right: 100px;
   
}
.image-container{
    /* border: 2px solid red; */
    height: 255px;
    width: 460px;
    position: relative;
    top: 360px;
    left: 87px;
}


.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fadeInOut 9s linear infinite;
}

.image-container img:nth-child(1) {
    animation-delay: 0s;
}

.image-container img:nth-child(2) {
    animation-delay: 3s;
}

.image-container img:nth-child(3) {
    animation-delay: 6s;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}


